.*
dcb_calendar/attachmentImage
dcb_calendar/media
dcb_calendar/dcb_calendar/__pycache__
dcb_calendar/dcb_calendar/apps/events/__pycache__
dcb_calendar/dcb_calendar/apps/events/migrations
dcb_calendar/db.sqlite3