.filters {
  background: #ededed;
  padding: 48px 28px;
  box-sizing: border-box;
  min-width: 265px;
}

.filters-title {
  font-weight: 700;
  font-size: 15px;
  color: #2f2f2f;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.filters-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 32px;
}

.filters-item {
  font-weight: 400;
  font-size: 15px;
  color: #2f2f2f;
  margin-bottom: 16px;
}

.filter-checkbox {
  margin-right: 8px;
}

.filters-button {
  background: #33bbaf;
  border-radius: 6px;
  padding: 8px 42px;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  border: none;
}