@import "../../Core/styleVariables.less";

.filters {
  background: white;
  border-radius: 16px;
  padding: 24px;
  box-sizing: border-box;
  min-width: 288px;
  height: calc(100vh - @header-and-gap-2-height);
}
.filter-name {
  font-size: 19px;
  margin: 0;
  margin-bottom: 12px;
  font-weight: 400;
  color: #505050;
}
.filters-wrap {
  overflow-y: scroll;
  height: calc(100% - @month-and-button-size-md);
  margin-bottom: 24px;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f2f4f7;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #d0d7dd;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #4bb9b2;
  }
  &::-webkit-scrollbar-thumb:active {
    background: #21a19a;
  }
}
.filters-track {
  position: relative;
}
.filters-title {
  font-size: 15px;
  line-height: 16px;
  color: #2f2f2f;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 300;
}
.filter-checkbox-name {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

.filters-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 24px;
}

.filters-item {
  font-weight: 400;
  line-height: 24px;
  font-size: 15px;
  color: #2f2f2f;
  margin-bottom: 8px;
}

.filters-label {
  display: flex;
  align-items: center;
}

.filter-checkbox {
  margin-right: 8px;
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.filter-fake-checkbox {
  display: inline-block;
  box-sizing: border-box;
  margin-right: 8px;
  border: 0px solid #33bbaf;
  background-color: #33bbaf;
  border-radius: 0.25em;
}
.filter-fake-checkbox::after {
  display: block;
  content: "";
  width: 1em;
  height: 1em;
  border-radius: 0.25em;
  border: 1px solid #33bbaf;
  border-color: inherit;
  background-color: #f2f4f7;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.filter-checkbox:checked + .filter-fake-checkbox::after {
  background-color: inherit;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.filters-button {
  cursor: pointer;
  background: #f2f8ff;
  width: 100%;
  border-radius: 12px;
  padding: 14px;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #1358bf;
  border: none;
  transition: all 0.3s ease;
  &:hover {
    background-color: #21a19a;
    color: white;
  }
}
