@import "../../Core/styleVariables.less";

.header {
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
  max-width: @container-size-lg;
  margin: auto;
}
.header-title {
  font-weight: 700;
  font-size: 33px;
  color: #000000;
}
.header-year {
  border: 1px solid #33bbaf;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 8px 30px;
  margin: 0 auto 0 30px;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  color: #33bbaf;
}
.header-button {
  background: #33bbaf;
  border-radius: 6px;
  padding: 8px 42px;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  color: #ffffff;
  border: none;
}
