@import '../../Core/styleVariables.less';

.calendar{
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between;
}

.calendar-track {
    position: relative;
    overflow: hidden;
    width: @month-size-md;
    height: @month-size-md + 20px;
}

.calendar-body {
    position: absolute;
    transition: transform 0.3s ease;
    top: 0;
    left: 0;
    // width: @month-size-md * 12 + @month-gap-md * 11;
    display: flex;
    justify-content: space-between;
}