@import "../../Core/styleVariables.less";

.month {
  width: @month-size-md;
  margin-right: @month-gap-md;
}

.month-header {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  color: #1358BF;
  margin-bottom: 8px;
}

.month-body {
  display: flex;
  flex-wrap: wrap;
}

.month-day-of-week {
  & .month-day {
    font-weight: 400;
    color: #7D838A;
    margin-bottom: 0;
  }
}

.month-day {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-bottom: 2px;
  font-size: 15px;
  font-weight: 450;
  color: #505050;

  &:not(:nth-child(7n)) {
    margin-right: 7px;
  }
}
//TODO
.month-day-highlight {
  background: #eef6f7;

  &:not(:nth-child(7n)) {
    margin-right: 0;
    padding-right: 7px;

    &.month-day-highlight-last {
      margin-right: 7px;
    }
  }

  &.month-day-highlight-last {
    padding-right: 0;
    border-radius: 0 16px 16px 0;

    &.month-day-selected::before{
      width: 100%;
    }
  }

  &.month-day-highlight-first {
    border-radius: 16px 0 0 16px;
  }

  &.month-day-highlight-last.month-day-highlight-first {
    border-radius: 16px;
  }
}

.month-day-selected {
  color: #fff;
  position: relative;
  &:nth-child(7n) {
    &::before {
      width: 100%;
    }
  }
  &::before {
    z-index: 0;
    content: "";
    display: block;
    position: absolute;
    width: calc(100% - 7px);
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 100%;
    background: #33bbaf;
  }
  & span {
    z-index: 1;
  }
}

.month-day-secondary {
  color: #e0e0e0;
}
