.event{
    display: flex;
    background: #EDEDED;
}

.event-active{
    background: #C2EBE7;
}

.event-expected{
    background: #EEF6F7;
}

.event-attachments{
    display: flex;
}

.event-photo{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    object-fit: cover;
}