.event-list{
    overflow: scroll;
    max-height: calc(100vh - 460px);
    padding-top: 20px;
    box-sizing: border-box;
}
.event-list-wrap{
    position: relative;
}
// .event-list-wrap::after{
//     content: '';
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     z-index: 2;
//     pointer-events: none;
//     background: linear-gradient(0deg, #fff, rgba(255, 255, 255, 0) 4%, rgba(255, 255, 255, 0) 96%, #fff 100%);
// }