@import "./Core/styleVariables.less";

body {
  background-color: @color-body;
}

.container {
  padding: 30px;
  display: flex;
  max-width: @container-size-lg;
  margin: auto;
}

.sidebar {
  margin-right: 48px;
  display: flex;
}

.body {
  flex: 1;
}
