@import "./Core/styleVariables.less";

body {
  background-color: @color-body;
  height: 100vh;
  overflow: hidden;
}

.container {
  padding: 30px;
  padding-bottom: 0px;
  display: flex;
  max-width: @container-size-lg;
  margin: auto;
}

.sidebar {
  margin-right: 48px;
  display: flex;
}

.body {
  flex: 1;
}
